.title {
  font-family: "lucida handwriting", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.tittle {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}
.card-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
